header nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
}

header nav ul li a {
  text-decoration: none;
}

div#navbarNav {
  flex-grow: 0 !important;
}

.nav-link {
  font-size: 14px !important;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  font-size: 20px !important;
}

#adopt-button {
  font-size: 14px !important;
  font-weight: bold !important;
}

body {
  padding-top: 70px;
}

.h-remaining {
  height: calc(
    100vh - 70px - (24px + 2rem)
  ); /* 70px corresponde à altura da navbar e 24px + 2rem é a altura c/ o padding do footer */
}

footer {
  text-align: center;
  opacity: 50%;
}

.título {
  text-align: center;
  margin-top: 82px;
  margin-bottom: 40px;
}

.título h1 {
  font-size: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.28px;
}

.texto {
  text-align: center;
  margin: 0 191px;
}

.texto p {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.52px;
}

