div#navbarNav {
  flex-grow: 0 !important;
}

.nav-link {
  font-size: 14px !important;
}

.navbar-nav {
  align-items: center;
}

#btn-adotar {
  font-size: 14px !important;
  font-weight: bold !important;
}

body {
  padding-top: 70px;
}

.h-remaining {
  height: calc(
    100vh - 70px - (24px + 2rem)
  ); /* 70px corresponde à altura da navbar e 24px + 2rem é a altura c/ o padding do footer */
}

footer {
  text-align: center;
  opacity: 50%;
}
