#Titulo {
  text-align: center;
  margin-top: 82px;
  color: #000;
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1.28px;
}

#messagem_sobre_nos {
  margin-top: 40px;
  text-align: center;
  color: #000;
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
  margin-left: 191px;
  margin-right: 191px;
  letter-spacing: 0.52px;
}

.card-group{
  margin: 142px 80px 69px 80px;
}

.card{
  width: 395px;
  height: 375px;
  margin: 0 22px 0 22px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 64px !important;
  border: 2px !important;
}

.card-body {
  text-align: center;
  border-radius: 0 0 64px 64px;
  background-color: #fafaf5;
}