<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente - Card Animal Favorito</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/componentes/card_animal.css"
    />
    <link
      href="../static/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid" id="lista">
      <div class="row">
        <div
          class="col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center p-3"
        >
          <div class="card card-animal">
            <img
              src="https://www.worten.pt/i/9003eef21262369126b8809cfd147315a26e9c96"
              class="card-img-top"
              alt="Imagem de um cão"
            />
            <div class="card-body">
              <div class="card-animal-link" data-href="https://example.com">
                <h5 class="card-title">
                  Card title <i class="fa fa-mars" aria-hidden="true"></i>
                </h5>
                <h6 class="card-subtitle text-success">
                  Buldogue francês
                </h6>
              </div>
              <button class="btn btn-light mt-2 btn-adicionar-favorito">
                Adicionar aos favoritos
                <i class="fa fa-star" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center p-3"
        >
          <div class="card card-animal">
            <img
              src="https://www.worten.pt/i/9003eef21262369126b8809cfd147315a26e9c96"
              class="card-img-top"
              alt="Imagem de um cão"
            />
            <div class="card-body">
              <h5 class="card-title">
                Card title <i class="fa fa-venus" aria-hidden="true"></i>
              </h5>
              <h6 class="card-subtitle text-success">
                Buldogue francês
              </h6>
              <button class="btn btn-light mt-2 btn-adicionar-favorito">
                Adicionar aos favoritos
                <i class="fa fa-star" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center p-3"
        >
          <div class="card card-animal">
            <img
              src="https://www.worten.pt/i/9003eef21262369126b8809cfd147315a26e9c96"
              class="card-img-top"
              alt="Imagem de um cão"
            />
            <div class="card-body">
              <h5 class="card-title">
                Card title <i class="fa fa-venus" aria-hidden="true"></i>
              </h5>
              <h6 class="card-subtitle text-success">
                Buldogue francês
              </h6>
              <button class="btn btn-light mt-2 btn-adicionar-favorito">
                Adicionar aos favoritos
                <i class="fa fa-star" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../static/js/components/card_animal.js"></script>
    <script
      src="../static/js/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="../static/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="../static/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
