.card-animal {
  width: 90% !important;
  border-radius: 24px !important;
  background-color: #fafaf5 !important;
  border: 2px solid #e6e6e6;
}

.card-animal-link {
  cursor: pointer;
}

.card-animal > img {
  border-radius: 24px !important;
  height: 250px;
  object-fit: cover;
}

.card-animal > .card-body > button {
  border-radius: 16px !important;
  width: 100%;
  color: #6d6d6d;
  font-weight: 600;
}

.btn-adicionar-favorito {
  background: #e6e6e6 !important;
  transition: 0.5s !important;
}

.btn-adicionar-favorito:hover {
  background: #198754 !important;
  color: white !important;
  transition: 0.5s !important;
}

.btn-favorito {
  background: #deba3b !important;
  color: #fff !important;
  transition: 0.5s !important;
}

.btn-remover-favorito {
  background: #cc2f2f !important;
  color: #fff !important;
  transition: 0.5s !important;
}
